
<div class="container-fluid border-2">
  <div class="inner-layer">
    <div class="form-outer">
      <div class="text-outer">
        <h4 class="header-text">Select the Category</h4>
        <p class="wc-text">Welcome to Hadisi.lk!</p>
        <hr>
      </div>
      <div class="drop-outer">
        <button class="drop-btn" id="btn-1">Buying & Selling</button>
        <div class="content">
          <a href="#">cat-1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </div>
      </div>
      <div class="drop-outer">
        <button class="drop-btn" id="btn-2">Services</button>
        <div class="content">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </div>
      </div>
      <div class="next-button">
        <button class="next-button-1">Next</button>
      </div>
    </div>
  </div>
</div>


