<app-header></app-header>
<div class="about-outer">
  <div class="about-inner">
    <p class="about-title">Hadisi.LK,</p>
    <br>
    <div class="desc-outer">
      <p class="about-desc-1">Hadisi.lk is the latest and the smartest destination for buying, selling and services
        in Sri Lanka. We've covered so many areas to make your day to day life easier.
      </p>
      <br>
      <p class="about-desc-1">Browse through our extensive categories with our advanced search and filter options,
        finding exactly what you need is a breeze. We pride ourselves on offering the best deals and connecting you
        with trusted sellers and service providers.</p>
      <br>
      <br>
      <p class="about-title">Effortless Buying and Selling,</p>
      <br>
      <p class="about-desc-1">Creating an account with us is quick and easy, and posting your first ad takes
        just a few minutes. Our user-friendly interface ensures that your items get the visibility they deserve.
        Plus, our tips and tools help you create compelling ads that attract buyers fast.</p>
      <br>
      <br>
      <p class="about-title">Why Choose Hadisi.LK?</p>
      <br>
      <ul>
        <li>Wide Selection: From cars and mobile phones to homes and pets, our platform offers a
          diverse range of products and services.
        </li>

        <li>User-Friendly: Our intuitive design makes it easy to navigate and find what you're
          looking for, saving you time and effort.</li>

        <li>Secure Transactions: We prioritize your safety with secure payment options and buyer protection policies.
        </li>

        <li>Community Support: Our dedicated support team is always here to help, ensuring a smooth and
          positive experience for all users.
        </li>
      </ul>
      <br>
      <br>
      <p class="about-title">Join Our Growing Community</p>
      <br>
      <p class="about-desc-1">Whether you're here to buy, sell, or find services,
        Hadisi.LK is the place to be. Join our growing community today and experience
        the convenience of a modern marketplace that works for you.</p>
    </div>
    <br>
  </div>
</div>

<app-footer></app-footer>
