<div class="main-outer">
  <div class="sec-out">
    <div class="content-outer">
      <h1 class="text-center h-outer">
        Step into Hadisi.lk family....
      </h1>
      <p class="text-center para-outer">
        Welcome to our platform! Log in to access your dashboard,
        manage your account, and explore our features.
        Don't have an account? Sign up quickly.
        Your data is secure with us. If you have any issues,
        contact our support team. We're glad to have you here!
      </p>
      <img src="/images/vector-signup.png" class="img-outer" alt="vector">
    </div>
    <div class="main-outer-form">
      <div class="logo-form">
        <img src="/images/hadisi-logo.png" class="logo" alt="logo"/>
        <p class="form-h">
          Hadissi.LK
        </p>
      </div>
      <div class="reg-outer">
        <p class="text-center">
          Please register an account
        </p>
      </div>
      <div class="mt-5 form-outer">
        <form class="form-layer w-auto h-auto">
          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Name</label>
            <input placeholder="First Name" type="text" name="fname" class="email-input w-auto h-10 rounded-2xl bg-gray-50 border border-gray-900 text-gray-900 text-sm" [(ngModel)]="firstname">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Email</label>
            <input placeholder="Email" type="email" name="email" autocomplete="email" class="email-input w-auto h-10 rounded-2xl bg-gray-50 border border-gray-900 text-gray-900 text-sm" [(ngModel)]="email">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Password</label>
            <input placeholder="Password" type="password" name="password" class="email-input w-auto h-10 rounded-2xl bg-gray-50 border border-gray-900 text-gray-900 text-sm" [(ngModel)]="password">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Confirm Password</label>
            <input placeholder="Confirm Password" type="password" name="password" class="email-input w-auto h-10 rounded-2xl bg-gray-50 border border-gray-900 text-gray-900 text-sm" [(ngModel)]="confirmpaswoard">
          </div>

          <div class="sign-outer">
            <button type="button" class="text-white rounded-2xl w-full h-full bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none">Register</button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
