<div class="max-w-7xl h-20 mx-auto  bg-gradient-to-r from-cyan-500 to-blue-500 flex justify-between items-center" >
  <div class="logo w-20 h-full text-xl font-bold text-white ml-4 flex justify-center items-center">hAdissiyak</div>


  <div class="navBar">
    <ul class="flex">
      <li class="mx-5 text-white text-lg hover:text-gray-600"><a href="">Home</a></li>
      <li class="mx-5 text-white text-lg hover:text-gray-600"><a href="">Features</a></li>
      <li class="mx-5 text-white text-lg hover:text-gray-600"><a href="">About</a></li>
      <li class="mx-5 text-white text-lg hover:text-gray-600"><a href="">Contact</a></li>
    </ul>
  </div>

  <div class="login-button text-white mr-4 ">
    <button class="hover:bg-gray-700 hover:rounded-full flex items-center justify-center text-2xl font-bold m-2 p-2 " [routerLink]="['/login']"><mat-icon >login</mat-icon></button>
  </div>

</div>



