<app-header></app-header>
<div class="upper-sec-outer">
  <div class="upper-tile-outer">
    <div class="about-sec">
      <div class="main-area">
        <p class="main-text">Hadisi.lk is the
          <br>newest and the smartest <br>buying and selling
          <br>online platform in Sri Lanka...</p>
          <div class="button-outer">
            <button type="button" class="all-ads-button" routerLink="">All ads</button>
          </div>
      </div>
      <div class="vector-area">
        <img src="/images/6963167.png" alt="vector">
      </div>
    </div>
  </div>

  <div class="down-tile-outer">
    <div class="serach-outer">
      <input type="text" class="searchTerm" placeholder="Search Here....">
      <button type="submit" class="searchButton border-primary bg-primary">
        <img width="30" height="30" class="icon-search" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/search--v1.png" alt="search--v1"/>
      </button>
    </div>
    <div class="category-outer">
      <div class="category-set">
        <div class="header-text">
          <p class="category-text">BROWSE BY CATEGORIES</p>
        </div>

        <div class="set-outer">
          <div class="line-set" id="set-1">
            <div class="cards" id="card-1">
              <div class="icon-outer">
                <img src="/icons/car.png" alt="vehicle image">
              </div>
              <div class="label-outer">
                <p class="label-text">VEHICLE</p>
              </div>
            </div>
            <div class="cards" id="card-2">
              <div class="icon-outer">
                <img src="/icons/responsive.png" alt="electronic devices">
              </div>
              <div class="label-outer">
                <p class="label-text">ElECTRONIC</p>
              </div>
            </div>
            <div class="cards" id="card-3">
              <div class="icon-outer">
                <img src="/icons/town.png" alt="property">
              </div>
              <div class="label-outer">
                <p class="label-text">PROPERTY</p>
              </div>
            </div>
            <div class="cards" id="card-4">
              <div class="icon-outer">
                <img src="/icons/education.png" alt="education">
              </div>
              <div class="label-outer">
                <p class="label-text">EDUCATION</p>
              </div>
            </div>
          </div>

          <div class="line-set" id="set-2">
            <div class="cards" id="card-5">
              <div class="icon-outer">
                <img src="/icons/grocery.png" alt="grocery items">
              </div>
              <div class="label-outer">
                <p class="label-text">GROCERY & FOOD</p>
              </div>
            </div>
            <div class="cards" id="card-6">
              <div class="icon-outer">
                <img src="/icons/old.png" alt="caregiving">
              </div>
              <div class="label-outer">
                <p class="label-text">CAREGIVING</p>
              </div>
            </div>
            <div class="cards" id="card-7">
              <div class="icon-outer">
                <img src="/icons/construction-worker.png" alt="workers">
              </div>
              <div class="label-outer">
                <p class="label-text">WORKERS</p>
              </div>
            </div>
            <div class="cards" id="card-8">
              <div class="icon-outer">
                <img src="/icons/delivery-truck.png" alt="transport service">
              </div>
              <div class="label-outer">
                <p class="label-text">TRANSPORT</p>
              </div>
            </div>
          </div>

          <div class="line-set" id="set-3">
            <div class="cards" id="card-9">
              <div class="icon-outer">
                <img src="/icons/makeup.png" alt="beauty care">
              </div>
              <div class="label-outer">
                <p class="label-text">BEAUTY CARE</p>
              </div>
            </div>
            <div class="cards" id="card-10">
              <div class="icon-outer">
                <img src="/icons/stock.png" alt="financial">
              </div>
              <div class="label-outer">
                <p class="label-text">FINANCIAL</p>
              </div>
            </div>
            <div class="cards" id="card-11">
              <div class="icon-outer">
                <img src="/icons/placeholder.png" alt="emergency services">
              </div>
              <div class="label-outer">
                <p class="label-text">EMERGENCY</p>
              </div>
            </div>
            <div class="cards" id="card-12">
              <div class="icon-outer">
                <img src="/icons/more.png" alt="see more">
              </div>
              <div class="label-outer">
                <p class="label-text">OTHER</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>
